.main{
    width: 4rem;
    background-color: rgb(43, 43, 43);
    height: 100vh;
    display: flex;
    flex-direction: column;

    font-size: 2rem;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.iconexit{
    color: white;
}
.opennotifybox{
    position:absolute;
    left: 4rem;
    background-color: rgb(43, 43, 43);
    gap: 1rem;
    height: 100%;
    width: 95%;
    display: grid;
    grid-template-columns:30% 30% 30%  ;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    z-index: 99999999;
}
.messagebody{
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    width: 100%;
    background-color: white;
}
.deleteicon{
    font-size: 2rem;
    cursor: pointer;
}
.deleteicon:hover{
    color: red;
}
@media (max-width:600px) {

.main{
    width: 4rem;
    background-color: rgb(43, 43, 43);
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;

    font-size: 2rem;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.opennotifybox{
    position:absolute;
    left: 0rem;
    top: 4rem;
    background-color: rgb(43, 43, 43);
    
    height: 100%;
    gap: 0.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
    align-items: center;
    z-index: 99999999;
}
.deleteicon{
    font-size: 1rem;
    cursor: pointer;
}
.deleteicon:hover{
    color: red;
}
}