.navbarmain{

 background-color: #96C3FF;
    display: flex;
 justify-content: space-between;
 align-items: center;
    padding: 0rem 1rem;
    
}
.logo{
    display: grid;
    grid-template-columns: 50% 50%;
   
    
}
.navbarlinks{
    display: flex;
    gap: 1rem;
 
}
.navbarlinks>h3{
    margin: 0rem;
    cursor: pointer;
    padding:0.3rem 1rem;
}
.navbarlinks>h3:hover{
    background-color: #293462;
    color:#96C3FF;
    border-radius: 1rem;
    padding:0.3rem 1rem;
}
.logo>h2{
    cursor: pointer;
    margin: 0.8rem 0rem;
}
.navbarlist{
    display: flex;
    cursor: pointer;
    gap: 1rem;
    color: rgb(82, 82, 82);
    justify-content: flex-end;
}

@media (max-width:600px) {
    .logo{
        display: grid;
        grid-template-columns: 40% 60%;
       margin: 0rem;
        
    }
    .navbarmain{

        background-color: #96C3FF;
           display: flex;
        justify-content: space-between;
        align-items: center;
           padding: 0rem 0.5rem;
           
       }
    .navbarmain>h2{
        font-size: 1rem;
        margin: 0.8rem 0rem;
    }  
    .navbarmain>h3{
        font-size: 1rem;
    }
}