.pagemain{
    margin: 3rem;
    margin-top: 1rem;
    position: relative;
}
.backicon{
    font-size: 2rem;
}

.designbox{
   
    margin-top: 0.5rem;

}
.designbox>img{
    width: 100%;
 border-radius: 0.5rem;
}


.designgrid{
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
}
.previewcodebuttonbody{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.previewcodebuttonbody>h2{
    margin: 0rem;
    padding: 0rem;
}
.previewcodebutton{
    background-color: rgb(80, 80, 80);
    padding: 0.3rem;
    border-radius: 0.5rem;
    display: flex;
    width: 12rem;
    
    justify-content: center;
    gap: 0.2rem;
}
.previewcodebutton>button{
    margin: 0rem;
    border-radius: 0.3rem;
    border: none;
}
.previewbutton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.previewbutton>h4{
    margin: 0.5rem;
    padding: 0rem;
}
.codebox{
  
    
    margin-top: 0.5rem  ;
   /* max-height: 40rem; */
   
}
.codeboxtabs{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* margin-bottom: 0.5rem; */
}

.codeboxtabs>h3{
    padding: 0.5rem;
    margin: 0rem;
    width: 100%;
    text-align: center;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem; 

}
.pagetext>h1{
    margin: 0.5rem;
}
.pagetext>p{
    margin: 0.5rem;
}
.relatedpostgrid{
    display: grid;
    gap: 1rem;
    justify-content: space-evenly;
    grid-template-columns: 23% 23% 23% 23%;
}
.relatedpostmain{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
@media (max-width:900px) {
    .pagetext>p{
        font-size:0.8rem;}
}
@media (max-width:600px) {
    .pagemain{
        margin: 0.5rem;
        margin-top: 1rem;
        position: relative;
    }
    .pagemain>h2{
        justify-content: center;
        align-items: center;
        margin-top: 0rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    .previewcodebuttonbody{
        display: flex;
    
        gap: 1rem;
        justify-content: flex-end;
        align-items: flex-start;
    
    }
    .previewcodebuttonbody>h2{
        margin: 0rem;
        font-size: 1rem;
        padding: 0rem;
    }
    .previewcodebutton{
        background-color: rgb(80, 80, 80);
        padding: 0.3rem;
        border-radius: 0.5rem;
        display: flex;
        width: 11rem;
        
        justify-content: center;
        gap: 0.2rem;
    }
    .previewcodebutton>button{
        margin: 0rem;
        border-radius: 0.3rem;
        border: none;
    }
    .previewbutton{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .previewbutton>h4{
        margin: 0.5rem;
        font-size: 0.6rem;
        padding: 0rem;
    }
    .designbox{
    margin-top: 0.5rem;
    
    }
    .designbox>img{
        width: 100%;
     border-radius: 0.5rem;
    }
    .designgrid{
        display: grid;
        grid-template-columns: 95%;
        justify-content: center;
    }
    
    .codebox{
      
        overflow: scroll;
        margin-top: 0.5rem  ;
       max-height: 40rem;
    }
    .codeboxtabs{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        /* margin-bottom: 0.5rem; */
    }
    
    .codeboxtabs>h3{
        padding: 0.5rem;
        margin: 0rem;
        width: 100%;
        font-size: 1rem ;
        text-align: center;
        justify-items: center;
        align-items: center;
        gap: 0.5rem;
        border-radius: 0.5rem 0.5rem 0rem 0rem; 
    
    }
    .pagetext>p{
        font-size: 0.6rem;
    }
    
}